html,body {
    margin:0;
    padding:0;
    position: relative;
    min-height: 100vh;
    
}

nav1 {
    font-size: 13px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    padding: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    font-size: 12px;
    padding: 12px 28px;
    background-color: #D1D0D1;
    color: rgb(37, 37, 37);
    border-radius: 4px;
    float: right;

}

.divider {
    width: 10px;
    height: auto;
    display: inline;
}

.center {
    margin: auto;
    width: 50%;
}

footer {
 position: absolute;
  bottom: 0;
  width: 100%;
  
  
}